* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: cover;
}

body {
  color: white; /* Ensure text color contrasts well with dark background */
  font-weight: bold; /* Make all text bold by default */
  font-size: 18px; /* Increase base font size */
  background: url('./noisetexture.svg'); /* Set background on body instead of all elements */
  background-repeat: no-repeat; /* Ensure background does not repeat */
  background-size: cover; /* Cover the entire screen */
}

button {
  font-weight: bold; /* Make buttons' text bold */
  font-size: 16px; /* Increase button text size */
  color: white; /* Ensure button text is white */
  border-color: white; /* Ensure button border is white */
  background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent background */
}

.icon-button {
  color: white !important; /* Ensure icon color is white */
}

.logout-button {
  background-color: rgb(30, 0, 255); /* Ensure logout button stands out */
  color: white;
}
